extends layout

block content  
    h1 #{title}

    form(method='POST' action='')
        .form-group
            label(for='name') Founder:
            input#name.form-control(type='text', name='first_name', placeholder='first_name', value=(undefined===founder ? '': founder.first_name), required='true')
            input#name.form-control(type='text', name='family_name',placeholder='family_name', value=(undefined===founder ? '': founder.family_name), required='true')
        .form-group
            label(for='personality') Personality:
            select#status.form-control(type='select',placeholder='Select Personality' name='personality' required='true')
                for personality in ['INTJ', 'INTP', 'ENTJ', 'ENTP','INFJ', 'INFP', 'ENFJ', 'ENFP', 'ISTF', 'ISFJ', 'ESTJ', 'ESFJ', 'ISTP', 'ISFP', 'ESTP', 'ESFP']
                    if startup
                        option(value=personality selected=(startup.personality.toString()==personality ? 'selected' : false)) #{personality}
                    else
                        option(value=personality) #{personality}
        button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg
