extends layout

block content
    h1 Industry: #{industry.name}

    div(style='margin-left:20px;margin-top:20px')

    h4 Startups:
    dl
            each startup in industry_startups.length ? industry_startups : ['There are no startups']
                dt
                    a(href=startup.url) #{startup.title} 
                dd - #{startup.summary}
            else
                p There are no startups.
    hr
    p
      a(href=industry.url+'/update') Update
    p
      a(href=industry.url+'/delete') Delete