extends layout

block scripts
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")

block content
    h1=title
    form(method='POST' action='')
        .form-group
            label(for='title') Startup:
            input#title.form-control(type='text' placeholder='Name of Startup' name='title' required='true' value=(startup===undefined ? '': startup.title))
        .form-group
            label(for='founder') Founders:
            div
                for founder in founders
                    div(style='display: inline; padding-right: 10px;')
                        input.checkbox-input(type='checkbox', name='founder', id=founder._id, value=founder._id, checked=founder.checked)
                        label(for=founder._id) #{founder.name}
        .form-group
            label(for='industry') Industry:
            select#founder.form-control(type='select' placeholder='Select Industry' name='industry' required='true')
                for industry in industries
                    if startup
                        option(value=industry._id selected=(industry._id.toString() == startup.industry ? 'selected' : false)) #{industry.name}
                    else
                        option(value=industry._id) #{industry.name}
        .form-group
            label(for='status') Summary:
            input#title.form-control(type='text' placeholder='Summary' rows="4" cols="50" name='summary' required='true' value=(startup===undefined ? '': startup.summary))

        .form-group
            label(for='status') Status:
            select#status.form-control(type='select' placeholder='Select Status' name='status' required='true')
                for status in ['Ideation', 'Validation', 'Pre-seed', 'Seed', 'Series A', 'Series B', 'Series C+', 'IPO']
                    if startup
                        option(value=status selected=(startup.status.toString()==status ? 'selected' : false)) #{status}
                    else
                        option(value=status) #{status}
        .form-group
            label(for='businessplan') The Business Plan:
            hr
            textarea(id='textarea' name='businessplan')
            hr
        button.btn.btn-primary(type='submit') Submit

        if errors
            ul
                for error in errors
                    li!= error.msg
    script(type="text/javascript").
        var simplemde = new SimpleMDE({
                autofocus: true,
                autosave: {
                    enabled: true,
                    uniqueId: "MyUniqueID",
                    delay: 1000,
                },
                blockStyles: {
                    bold: "__",
                    italic: "_"
                },
                element: document.getElementById("textarea"),
                forceSync: true,
                hideIcons: ["guide", "heading"],
                indentWithTabs: false,
                initialValue: "Hello world!",
                insertTexts: {
                    horizontalRule: ["", "\n\n-----\n\n"],
                    image: ["![](http://", ")"],
                    link: ["[", "](http://)"],
                    table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
                },
                lineWrapping: false,
                parsingConfig: {
                    allowAtxHeaderWithoutSpace: true,
                    strikethrough: false,
                    underscoresBreakWords: true,
                },
                placeholder: "Type here...",
                promptURLs: true,
                renderingConfig: {
                    singleLineBreaks: false,
                    codeSyntaxHighlighting: true,
                },
                shortcuts: {
                    drawTable: "Cmd-Alt-T"
                },
                showIcons: ["code", "table"],
                status: ["autosave", "lines", "words", "cursor"], // Optional usage
                status: ["autosave", "lines", "words", "cursor", {
                    className: "keystrokes",
                    defaultValue: function(el) {
                        this.keystrokes = 0;
                        el.innerHTML = "0 Keystrokes";
                    },
                    onUpdate: function(el) {
                        el.innerHTML = ++this.keystrokes + " Keystrokes";
                    }
                }], // Another optional usage, with a custom status bar item that counts keystrokes
                tabSize: 4,
            });